src/main/java/edu/unb/tiashack/avocado_api/api/soap/avocadoApi.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://tiashack.unb.edu/avocado"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://tiashack.unb.edu/avocado">
    <types>
        <xsd:schema targetNamespace="http://tiashack.unb.edu/avocado">
            <!-- AvocadoSale Element -->
            <xsd:element name="AvocadoSale">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                        <xsd:element name="price" type="xsd:double"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Other request and response types go here -->
        </xsd:schema>
    </types>

    <!-- Port Type -->
    <portType name="AvocadoServicePort">
        <operation name="getAllAvocadoSales">
            <input message="tns:getAllAvocadoSalesRequest"/>
            <output message="tns:getAllAvocadoSalesResponse"/>
        </operation>
        <operation name="getAvocadoSaleById">
            <input message="tns:getAvocadoSaleByIdRequest"/>
            <output message="tns:getAvocadoSaleByIdResponse"/>
        </operation>
        <!-- Define other operations here -->
    </portType>

    <!-- Binding -->
    <binding name="AvocadoServiceBinding" type="tns:AvocadoServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getAllAvocadoSales">
            <soap:operation soapAction="getAllAvocadoSales"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- Define other bindings -->
    </binding>

    <!-- Service -->
    <service name="AvocadoService">
        <documentation>Avocado SOAP API</documentation>
        <port name="AvocadoServicePort" binding="tns:AvocadoServiceBinding">
            <soap:address location="http://localhost:8080/ws/avocadoService"/>
        </port>
    </service>
</definitions>
